@import "resources/colours.css";


@font-face {
    font-family: 'Terminal';
    src: url('resources/fonts/PPFraktionMono-Regular.otf') format('opentype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Terminal';
    src: url('resources/fonts/PPFraktionMono-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Terminal';
    src: url('resources/fonts/PPFraktionMono-Bold.otf') format('opentype');
    font-weight: 700; /* or bold */
    font-style: normal;
}

@font-face {
    font-family: 'Terminal';
    src: url('resources/fonts/PPFraktionMono-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Terminal', 'Monaco', monospace;
    font-weight: 700;
    line-height: 1.2;
    color: var(--true-gray-100);
}

body {
    padding: 16px;
    background-color: rgb(5, 5, 5);
}

.ascii {
    white-space: pre;
}

.ascii.border {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em 0.5ch;
    border: 2px solid var(--true-gray-400);
}

.ascii > a {
    color: var(--rose-600);
    cursor: pointer;
}

nav {
    display: flex;
    margin: 2em 0 1em 4ch;
}

nav > a {
    display: inline-block;
    padding: 0 1ch;
    cursor: pointer;
}

nav > a:hover,
nav > a.active {
    background-color: var(--true-gray-100);
    color: var(--true-gray-900);
}

section {
    display: none;
    min-height: 8em;
    width: 100%;
    margin-left: 8ch;
}

section.active {
    display: inline-block;
}

.tooltip {
    position: absolute;
    padding: 0.5em 0.5ch;
    background-color: rgb(5, 5, 5);
    border: 2px solid var(--true-gray-400);
    white-space: pre;
    pointer-events: none;
}

.tooltip > .material-symbols-outlined {
    padding-right: 0.5ch;
    vertical-align: bottom;
    font-size: 1em;
    font-variation-settings: 'FILL' 1;
    color: var(--rose-600)
}

@media only screen and (max-width: 600px) {



}