@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

:root {
	--header-height: 64px;
	--padding-height: 86px;
	--content-width: 1024px;
	--content-skew: 6deg;
	--content-skew-height: 0vw;
	
	--text-black: #000000;
	--text-white: #ffffff;
	--text-color-light: rgba(142, 25, 185, 0.9);
	--text-color-dark: rgba(108, 18, 142, 0.9);
	--text-color-extra-dark: rgba(42, 10, 54, 0.9);
	
	--background-white: #ffffff;
	--background-extra-light: rgba(81, 66, 130, 0.07);	/*#51428211*/
	--background-light-gray: #f1f1f1;
	--background-gray: #e1e1e1;
	--background-dark-gray: #4f4f4f;
	
	--box-shadow-light: 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 16px 0 rgba(0, 0, 0, 0.05);
}

@keyframes float-up-in-0-9 {
	from	{ transform: translateY(80px);	opacity: 0; }
	to		{ transform: translateY(0);		opacity: 0.9; }
}

@keyframes float-up-in-0-7 {
	from	{ transform: translateY(80px);	opacity: 0; }
	to		{ transform: translateY(0);		opacity: 0.7; }
}

@keyframes bounce {
	from	{ transform: translateY(0); }
	to		{ transform: translateY(-20%); }
}

/* ============================================================================================================= */
/* ================================================== GENERAL ================================================== */
/* ============================================================================================================= */

body {
	margin: 0;
}

.height-wrapper {
	transform: skewY(calc(var(--content-skew) * -1));
}

.width-wrapper {
	position: relative;
	margin: 0 auto;
	max-width: var(--content-width);
	transform: skewY(var(--content-skew));
}

h2 {
	display: block;
    margin: 0;
	padding: 0 0 calc(var(--padding-height) / 2) 0;
	color: var(--text-color-dark);
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 32px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	display: inline-block;
	margin: 0 0 8px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 22px;
	letter-spacing: -1px;
	color: var(--text-color-light);
}

h4 {
	grid-column: 1 / -1;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: var(--text-color-extra-dark);
}

h5 {
	display: block;
	margin: 0 0 8px 0;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: -1px;
	opacity: 0.8;
}

p {
	margin: 8px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: var(--text-black);
	line-height: 24px;
	text-align: justify;
}

.switch {
	display: inline-block;
	position: relative;
	margin: -2px 6px 0 0;
	height: 18px;
	width: 40px;
	vertical-align: middle;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	background: #e1e1e1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 99px;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
	transition: 0.1s ease-in-out;
	cursor: pointer;
}

.slider:before {
	content: '';
	position: absolute;
	background: white;
	height: 14px;
	width: 14px;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	transition: 0.1s ease-in-out;
}

input:checked + .slider {
	background-color: #4172aa;
}

input:checked + .slider:before {
	transform: translateX(22px);
}

/* ============================================================================================================= */
/* ================================================== HEADER =================================================== */
/* ============================================================================================================= */

.header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--title-height);
	transition: background 0.2s ease-in-out;
	z-index: 999;
}

.header .width-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .header-logo {
	position: relative;
	width: var(--header-height);
	height: var(--header-height);
}

.header .header-logo svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24px;
	height: auto;
	opacity: 0.9;
}

.header .header-logo svg g {
	fill: white!important;
}

.header .header-logo svg g path:first-child {
	opacity: 0.6;
}

.header ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header ul .header-link {
	float: left;
}

.header ul .header-link a {
	display: inline-block;
	position: relative;
	padding: 0 24px;
	color: white;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	line-height: var(--header-height);
	text-decoration: none;
}

.header ul .header-link a:after {
	content: '';
	display: block;
	position: absolute;
	background: white;
	top: calc(50% + 10px);
	left: 20px;
	width: calc(100% - 40px);
	height: 1px;
	opacity: 0;
	transition: 0.2s ease-in-out;
}

.header ul .header-link a:hover:after {
	opacity: 1;
	transform: translateY(10px);
}

.header .dropdown {
	display: inline-block;
	position: relative;
	width: var(--header-height);
	height: var(--header-height);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.header .dropdown:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.header .dropdown .dropdown-icon {
	position: relative;
	width: 100%;
	height: 100%;
}

.header .dropdown .dropdown-icon svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
	height: auto;
	opacity: 0.9;
}

.header .dropdown .dropdown-icon svg path {
	fill: white!important;
}

.header .dropdown .dropdown-content {
	position: absolute;
	top: var(--header-height);
	right: 0;
	transition: background-color 0.2s ease-in-out;
}

.header .dropdown .dropdown-content > * {
	display: block;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 0 18px;
	height: 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 42px;
	text-decoration: none;
	white-space: nowrap;
	transition: 0.1s ease-in-out;
	overflow: hidden;
}

.header .dropdown .dropdown-content .dropdown-link {
	display: none;
}

/* ============================================================================================================= */
/* =================================================== TITLE =================================================== */
/* ============================================================================================================= */

.title {
	display: block;
	/*background: linear-gradient(-45deg, #43CBFF, #9708CC);*/
}

.title .height-wrapper {
	background: url(images/general/back_modded.jpg) 50% 50% / cover no-repeat;
	margin-top: calc(var(--content-skew-height) * -1);
	padding: calc(var(--padding-height) * 2 + var(--content-skew-height)) 0 calc(var(--padding-height) * 2) 0;
}

.title .width-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.title .title-text {
	color: white;
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 72px;
	line-height: 60px;
	letter-spacing: -3px;
	opacity: 0.9;
	user-select: none;
	/*animation: float-up-in-0-9 1s ease-in-out both;*/
}

.title .title-icon svg {
	padding-bottom: 25%;
	width: 360px;
	height: auto;
	opacity: 0.9;
	/*animation: float-up-in-0-7 1s ease-in-out 0.5s both;*/
}

.title .title-icon svg g {
	fill: white!important;
}

.title .title-icon svg g path:last-child {
	opacity: 0.6;
}

/* ============================================================================================================= */
/* ================================================== CONTENT ================================================== */
/* ============================================================================================================= */

.content {
	display: block;
	min-height: calc(var(--padding-height) * 2);
}

.content .height-wrapper {
	background: var(--background-extra-light);
	padding: var(--padding-height) 0;
}

.content .height-wrapper:nth-of-type(even) {
	background: var(--background-white);
}

.content .width-wrapper .content-tile-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc((var(--content-width) - 64px) / 3), 1fr));
	padding: 0 16px;
}

.content .width-wrapper .content-tile-wrapper .content-tile {
	display: inline-block;
	position: relative;
	padding: 16px;
	box-sizing: border-box;
	overflow: hidden;
}

.content .width-wrapper .content-tile-wrapper .content-tile-icon svg {
	margin: 0 0 8px 0;
	width: auto;
	height: 100px;
}

.content .width-wrapper .content-tile-wrapper .content-tile-icon svg path {
	fill: url(#icon-gradient);
}

/* ============================================================================================================= */
/* ================================================== FOOTER =================================================== */
/* ============================================================================================================= */

.footer {
	margin-top: calc(var(--content-skew-height) * -1);
	padding-top: var(--content-skew-height);
	box-shadow: 0 50vh 0 50vh rgba(21, 6, 25, 0.9);
	overflow: hidden;
}

.footer .height-wrapper {
	background: rgba(21, 6, 25, 0.9);
	margin-bottom: calc(var(--content-skew-height) * -1);
	padding: var(--padding-height) 0 calc(var(--padding-height) + var(--content-skew-height)) 0;
}

.footer .width-wrapper {
	display: flex;
	justify-content: space-around;
	max-width: calc(var(--content-width) * 2 / 3);
}

.footer .footer-column {
	min-width: 72px;
	text-align: center;
}

.footer .footer-column .footer-logo svg {
	margin: 0 0 8px 0;
	width: 32px;
	height: auto;
	opacity: 0.8;
}

.footer .footer-column .footer-logo svg g {
	fill: white!important;
}

.footer .footer-column .footer-logo svg g path:first-child {
	opacity: 0.6;
}

.footer .footer-column .scroll-top {
	cursor: pointer;
}

.footer .footer-column .scroll-top a {
	display: inline-block;
	padding: 0;
	line-height: 16px;
	vertical-align: middle;
}

.footer .footer-column .scroll-top .scroll-top-icon {
	display: inline-block;
	vertical-align: middle;
}

.footer .footer-column .scroll-top .scroll-top-icon svg {
	width: 16px;
	height: auto;
	opacity: 0.6;
}

.footer .footer-column .scroll-top:hover .scroll-top-icon svg {
	animation: bounce 0.3s ease-in-out infinite alternate;
}

.footer .footer-column .scroll-top .scroll-top-icon svg path {
	fill: white!important;
}

.footer .footer-column a {
	display: block;
	padding: 4px 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	opacity: 0.6;
	text-decoration: none;
}

/* ============================================================================================================= */
/* ================================================== GALLERY ================================================== */
/* ============================================================================================================= */

.thumbnail-wrapper {
	display: grid;
	grid-gap: 16px;
	justify-content: center;
	padding: 0 16px;
}

.thumbnail-wrapper.digital {
	grid-template-columns: repeat(auto-fit, calc(100px * 16 / 9));
}

.thumbnail-wrapper.traditional {
	grid-template-columns: repeat(auto-fit, calc(100px * 4 / 3));
}

.thumbnail-wrapper .thumbnail {
	display: inline-block;
	position: relative;
	background: 50%/cover;
	height: 100px;
	cursor: pointer;
}

.thumbnail-wrapper.digital .thumbnail {
	width: calc(100px * 16 / 9);
}

.thumbnail-wrapper.traditional .thumbnail {
	width: calc(100px * 4 / 3);
}

.thumbnail-wrapper .thumbnail:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s ease-in-out;
	pointer-events: none;
}

.thumbnail-wrapper .thumbnail:hover:before {
	background: rgba(0, 0, 0, 0.6);
}

.thumbnail-wrapper .thumbnail svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24px;
	height: auto;
	opacity: 0;
	transition: 0.2s ease-in-out;
	pointer-events: none;
}

.thumbnail-wrapper .thumbnail:hover svg {
	opacity: 0.9;
}

.thumbnail-wrapper .thumbnail svg path {
	fill: white;
}

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: rgba(0, 0, 0, 0.75);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.modal .modal-image {
	background: 50%/contain no-repeat;
	width: 80%;
	height: 80%;
}

.modal .modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: var(--header-height);
	height: var(--header-height);
	color: white;
	font-size: 48px;
	text-align: center;
	line-height: var(--header-height);
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	transition: 0.2s ease-in-out;
}

.modal .modal-close:hover {
	background: rgba(0, 0, 0, 0.3);
}

/* ============================================================================================================= */
/* =================================================== LINKS =================================================== */
/* ============================================================================================================= */

.link-screenshot {
	position: relative;
	transition: 0.5s ease-in-out;
	z-index: 1;
}

.link-screenshot, .link-video {
	margin: -16px -16px 16px -16px;
	width: calc(100% + 32px);
	border: none;
}

.link-screenshot-effect {
	position: absolute;
	background: linear-gradient(black, transparent);
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	opacity: 0;
	z-index: 2;
	transition: 0.5s ease-in-out;
}

.content-tile:hover .link-screenshot {
	transform: translateY(-50px);
}

.content-tile:hover .link-screenshot-effect {
	opacity: 0.1;
}

.link-page {
	display: inline-block;
	position: absolute;
	background: url(icons/icon-link.png) 50%/24px no-repeat;
	top: -53px;
	left: 50%;
	width: 24px;
	height: 24px;
	transform: translateX(-50%);
	transition: 0.15s ease-in-out;
}

.link-page:hover {
	opacity: 0.6;
}
	
/* ============================================================================================================= */
/* =================================================== ABOUT =================================================== */
/* ============================================================================================================= */

.social-icon-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 12px;
}

.social-icon {
	position: relative;
	border-radius: 50%;
	margin: 0 6px;
	width: 32px;
	height: 32px;
	text-align: left;
	overflow: hidden;
}

.social-icon > * {
	position: absolute;
	width: 100%;
	transition: 0.25s ease-in-out;
}

.social-icon:hover .social-icon-grayscale {
	opacity: 0;
}

/* ============================================================================================================= */
/* ================================================= EPORTFOLIO ================================================ */
/* ============================================================================================================= */

.eportfolio-images {
	margin: -16px -16px 16px -16px;
	width: calc(100% + 32px);
	height: 272px;
	object-fit: cover;
}

h3 > .subtitle {
	display: block;
	margin-top: 8px;
	font-size: 16px;
	color: var(--text-color-dark);
}

/* ============================================================================================================= */
/* =============================================== MEDIA QUERIES =============================================== */
/* ============================================================================================================= */

@media only screen and (max-width: 850px) {	
	.title .width-wrapper {
		justify-content: center;
	}
	
	.title .title-icon svg {
		position: absolute;
		padding: 0;
		top: 50%;
		left: 50%;
		transform: translate(50%, -100%);
		width: 150px;
	}
}
	
@media only screen and (max-width: 520px) {
	.header ul {
		display: none;
	}
	
	.header .dropdown .dropdown-content .dropdown-link {
		display: block;
	}
	
	.title .title-text {
		font-size: 13.75vw;
		line-height: 11.75vw;
	}
	
	.title .title-icon svg {
		width: 29vw;
	}
}

/* ============================================================================================================= */
/* ============================================== BROWSER SUPPORT ============================================== */
/* ============================================================================================================= */

@supports (-ms-ime-align:auto) {
	.title .height-wrapper {
		padding: calc(var(--padding-height) * 2) 0;
	}
	
	.footer .height-wrapper {
		padding: var(--padding-height) 0;
	}
}